<!--add in the V1 base.html-->

<h1>Enter a V1 article, if you dare...</h1>
</br>
<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(
        class="form-label") }}

    {{ form.title(
        class="form-control") }}
    </br>

    <br/>

    {{ form.content.label(
        class="form-label") }}

    {{ form.content(
        class="form-control") }}
    </br>
        
    {{ form.slug.label(
        class="form-label") }}

    {{ form.slug(
        class="form-control") }}
    </br>

    {{ form.submit(class="btn
        btn-secondary") }}
</form>